/* .Department{
    
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.caption{
    width: auto;
    caption-side: top;
    text-align: center;
}
.table_dep{
    border: 2px solid forestgreen;
    width: 800px;
} */

thead{
    background-color: #b01517d6 !important;
    color: aliceblue;
}

.table caption{
    caption-side: top;
    
}