/* .Department{
    
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.caption{
    width: auto;
    caption-side: top;
    text-align: center;
}
.table_dep{
    border: 2px solid forestgreen;
    width: 800px;
} */

thead{
    background-color: #b01517d6 !important;
    color: aliceblue;
}


.table caption{
    caption-side: top;
    
}



.table .branch_name{
    padding: 1rem!important;
}

.table td{
    vertical-align: middle;
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}


.table .syllabus_link a{
    color: white;
    /* font-weight: 700; */
    font-size: 1.7rem;
    /* background-color: brown; */
    padding: 1rem;
    display: block;
}
.table .syllabus_link {
    color: white;
    background-color: brown;
  
}

