
.container{
  margin-top: 0px!important;
}
.App {
  
  background-color: white;
  width: 100%;
  
}
body{
  width: 100%;
}
.draw_box{
  background-color: white;
  position:relative;
  width: 100%;
  /* overflow: hidden  ; */
}


.dropdown-item:hover{
  background-color: brown!important;
}

.App-header {
 
  color: white;
}
.gallery{
  float: right;
}

.notification{
  width: max-content;
}

.card-title{
	background: brown !important;
  color: white;
}
.card-title h3{
  color: white;
}

.carousel_div{
  margin: auto;
  overflow:hidden;
  
  
}

.carousel_div .carousel{
  border-style: visible;
  /* background: white; */
}

.carousel-inner img{
  margin: 0 auto;
  height: 100%;
  width: 100%;  
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}



.carousel-inner .item{
  background-color: white;

}

.tg-logo div img{
  background-size: contain;
  margin: auto;
}

.tg-logo div h2{
  margin: auto;
}


@media screen and (max-width: 700px){
  .tg-logo h2{
    font-size:25px;
  }

}

@media screen and (max-width: 700px){
  .tg-logo img{
    width: 60px;
  }

}

@media screen and (min-width: 701px){

.tg-logo h2{
  font-size:35px;
}

}
@media screen and (min-width: 701px){

.tg-logo img{
  width: 100px;
}
}


