.App {
  text-align: left;
  /* background-color: rgb(132, 122, 122); */
}

.draw_box{
  background-color: white;
  position:absolute;
  top: 0%;
  width: 100%;
  /* overflow: hidden  ; */
}
.class_logo{
  height: 60px;
  width: 60px;
  padding: 10px;
  float: left;
}
.App-header {
 
  color: white;
}
.gallery{
  float: right;
}


.card-title{
	background: brown !important;
  color: white;
}
.card-title h3{
  color: white;
}
