@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/solid.min.css";

.container{
  margin-top: 0px!important;
}
.App {
  
  background-color: white;
  width: 100%;
  
}
body{
  width: 100%;
}
.draw_box{
  background-color: white;
  position:relative;
  width: 100%;
  /* overflow: hidden  ; */
}


.dropdown-item:hover{
  background-color: brown!important;
  color: aliceblue!important;
}

.dropdown-item{
  padding: 1em!important;
}




.App-header {
 
  color: white;
}
.gallery{
  float: right;
}

.notification{
  width: max-content;
}

.card-title{
	background: brown !important;
  color: white;
}
.card-title h3{
  color: white;
}

.carousel_div{
  margin: auto;
  overflow:hidden;
  
  
}

.carousel_div .carousel{
  border-style: visible;
  /* background: white; */
}

.carousel-inner img{
  margin: 0 auto;
  height: 100%;
  width: 100%;  
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}



.carousel-inner .item{
  background-color: white;

}

.tg-logo div img{
  background-size: contain;
  margin: auto;
}

.tg-logo div h2{
  margin: auto;
}


@media screen and (max-width: 700px){
  .tg-logo h2{
    font-size:25px;
  }

}

@media screen and (max-width: 700px){
  .tg-logo img{
    width: 60px;
  }

}

@media screen and (min-width: 701px){

.tg-logo h2{
  font-size:35px;
}

}
@media screen and (min-width: 701px){

.tg-logo img{
  width: 100px;
}
}




.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1em;

}

.navbar-nav .nav-item .nav-link {
  padding: 1em!important;
  font-weight: bold;
  transition: all 0s ease!important;
}

.navbar-nav .nav-item.dropdown.open  .nav-link{
  color: white!important;
}

.navbar-nav .nav-item:hover .nav-link{
  color: white!important;
  background-color: brown;
}

.in .navbar-nav .nav-item.dropdown.open .dropdown-item{
  color: white!important;
  transition: all 0.5s !important;

  /* font-style: italic; */
}

.in .navbar-nav .nav-item .dropdown-item{
  margin: 2px;

  /* font-style: italic; */
}


.in .navbar-nav .nav-item .dropdown-item:hover{
  color: white!important;
  transform: scale(1.1);

  
}


.in .navbar-nav .nav-item li > .dropdown-item:hover{
  /* border: 0.5px solid white; */

  
}






.navbar-nav .nav-item.dropdown.open {
  background-color: brown!important;
}



button.navbar-toggler{
  padding: 1em;
  border-radius: 5px;
  background-color: brown;
  float: left!important;
}

.fa-bars{
  color: white;
}







@media only screen and (min-width: 960px) {
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover .dropdown-toggle::after {
  border-bottom: 0.3em solid;
  border-top: 0;
}
}
@media screen and (max-width: 991px) {
.dropdown-toggle.show::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}
}