.card-element{
    transition: all .5s;
    border-radius: 5px;
    /* border: 5px solid rgb(200, 42, 42); */
    max-height: 20vh;

}

.card-element:hover{
    border: 5px solid rgb(200, 42, 42);
}

.card-image::after{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.65);
    top: 0;
    left: 0;
    display: block;
    content: "";
}

.card-element:hover .card-image::after{
    transition: all 1s;
    background-color: rgba(0,0,0,.8);
}

.card-element{
    overflow: hidden;
}
.card-element:hover img{
    transition: all .5s;
    transform: scale(1.5);
}
.card-element img {
    transition: all .5s;
    transform: scale(1.2);
}

.card-element:hover h4{
    transition: all .5s;
    font-weight: 1000;
}

.card-element h4{
    transition: all .5s;
}

